body{
    background-color: #212426;
}

p, h1, h2, h3, h4, h5, h6{
    color: white;
}

.initials{/*top left logo/text*/
    font-size: 28px;
    font-weight: 800;
    color: #07b1cf;
    text-align: center;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-pic{/*will stretch to the size of the container it is in (md-5)*/
    height: auto;
    width: 100%;
}

.icons{
    display: flex;
    align-items: center;
    justify-content: center;
}
.icon{/*top right image links*/
    height: 32px;
    width: 32px;
}

.nav-pills{
    display: flex;
    align-items: center;
    justify-content: center;
}

/*These stylings are used in conjunction to make proper looking circle images (even if the original image was a rectangle)*/
.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 12rem 0 0 12rem;
}
.circle-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -10%;
  height: 100%;
  width: auto;
}
.image-cropper2 {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 0 12rem 12rem 0;
}
.circle-pic2 {
    display: inline;
    margin: 0 auto;
    margin-left: 25%;
    height: 100%;
    width: auto;
  }


/*HOME PAGE TEXT*/
.hi{
    text-align: center;
}

.hi > h1{
    color: #07b1cf;
}


/*trying to override bootstraps ugly blue into the theme color*/
.nav-pills > li.nav-item > a.active,
.nav-pills > li.nav-item > a:hover,
.nav-pills > li.nav-item > a:focus  {
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #07b1cf;
}

.nav-pills > li.nav-item > a  {
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color:white;
}


/*ABOUT PAGE TEXT*/
.about-section > h2{
    color: #07b1cf;
    text-align: center;
}


/*ABOUT PAGE ICONS*/
.about-icons > img{
    width: 150px;
    height: 150px;
    margin: 1.5rem;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #07b1cf;
}

/*Project PAGE*/
.project-section > h2 {
    color: #07b1cf;
    font-weight: 700;
    text-align: center;
    padding: 15px;
    margin: 5px;
}

.project-preview {
    width: 100%;
    height:auto;
    margin: 0px;
}

div > .card {
    background-color: #353a3d;
    margin: 20px;
    height: auto;
    width: 75%;
}

.badge-info {
    background-color: #07b1cf;
    margin: 8px;
}

.btn-primary{
    background-color: #07b1cf;
    border: #07b1cf;
}

.card-header {
    color: #07b1cf;
    font-weight: 700;
}

/*CONTACT PAGE*/
.contact-section > div.container > h2{
    color: #07b1cf;
    font-weight: 600;
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
}

.error-text{
    color: red;
}

.form-group{
    margin: 4px;
}

.form-row > div{
    margin: 10px;
}

.form-group > button{
    margin: 10px;
    padding: 2px;
}
.btn-dark:hover{
    background-color: #07b1cf;
}
