body{
    background-color: #212426;
}

p, h1, h2, h3, h4, h5, h6{
    color: white;
}

.initials{/*top left logo/text*/
    font-size: 28px;
    font-weight: 800;
    color: #07b1cf;
}

.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.portfolio-pic{/*will stretch to the size of the container it is in (md-5)*/
    height: auto;
    width: 100%;
}

.icon{/*top right image links*/
    height: 25px;
    width: 25px;
}

/*These stylings are used in conjunction to make proper looking circle images (even if the original image was a rectangle)*/
.image-cropper {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 12rem 0 0 12rem;
}
.circle-pic {
  display: inline;
  margin: 0 auto;
  margin-left: -10%;
  height: 100%;
  width: auto;
}
.image-cropper2 {
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    border-radius: 0 12rem 12rem 0;
}
.circle-pic2 {
    display: inline;
    margin: 0 auto;
    margin-left: 25%;
    height: 100%;
    width: auto;
  }


/*HOME PAGE TEXT*/
.hi{
    text-align: center;
}

.hi > h1{
    color: #07b1cf;
}


/*trying to override bootstraps ugly blue into the theme color*/
.nav-pills > li.nav-item > a.active,
.nav-pills > li.nav-item > a:hover,
.nav-pills > li.nav-item > a:focus  {
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    background-color: #07b1cf;
}

.nav-pills > li.nav-item > a  {
    font-weight:bolder;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
    color:white;
}


/*ABOUT PAGE TEXT*/
.about-section > h2{
    color: #07b1cf;
}


/*ABOUT PAGE ICONS*/
.about-icons > img{
    width: 150px;
    height: 150px;
    margin: 1.5rem;
    padding: 30px;
    border-radius: 10px;
    border: 2px solid #07b1cf;
}